
<table>
  <tr>
    <td>Titulo:</td>

  </tr>
  <tr>

      <td>
        <input type="text" #titulo>
      </td>
    </tr>
    <tr>
        <td>Director:</td>

      </tr>
      <tr>

          <td>
            <input type="text" #director>
          </td>
        </tr>
        <tr>
            <td>Afiche:</td>

          </tr>
          <tr>

              <td>
                <input type="file" hidden="true" (change)="guardarFoto($event)" #foto>
              </td>
            </tr>
            <tr>

                <td>
                  <button type="button" (click)="foto.click()">Load</button>
                  <img [src]="imagen" style="width:100%; max-width:100px; display:inline-block; margin-left: 10px" *ngIf="imagen">
                </td>
              </tr>
              <tr>
                  <td>Año:</td>

                </tr>
                <tr>

                    <td>
                      <input type="text" #anio>
                    </td>
                  </tr>
                  <tr>

                      <td>
                        <button type="button" (click)="agregarMovie(titulo.value,director.value,foto.value,anio.value,false)">Agregar</button>
                        
                      </td>
                    </tr>
  </table>
